<div class="admin">
<h1>Issue :: EDIT</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_publication_admin_issue_path(@publication, @issue)  %> |
<%= link_to 'Back', admin_publication_admin_issues_path(@publication) %>

</div>