<div class="admin">
<h1>Issue :: NEW</h1>
<div id="management">
  <span class="tools">tools</span>
  <%= link_to '[«] Back', admin_publication_admin_issues_path(@publication) %>
</div>
<%= render 'form' %>

</div>
