<div class="admin">
<h1>Arrangement :: EDIT</h1>

<%= render 'form' %>


<%= link_to 'Show', admin_publication_admin_arrangement_path(@publication, @arrangement) %> |
<%= link_to 'Back', admin_publication_admin_arrangements_path(@publication) %>
</div>