<div class="admin">
<h1>Hub Page :: EDIT</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_publication_admin_site_page_path(@publication, @site_page) %>
<%= link_to 'Back', admin_publication_admin_site_pages_path(@publication, @site_page) %>

</div>
