<div class="admin">
<h1>Hub Page :: NEW</h1>
<div id="management">
  <span class="tools">tools</span>
  <%= link_to '[«] Back', admin_publication_admin_site_pages_path(@publication, @site_page) %>
</div>
<%= render 'form' %>


</div>
