<div class="admin">
  <h1>Site Page :: VIEW</h1>

  <div id="management">
    <span class="tools">tools</span>
    <%= link_to '[•] Edit', edit_admin_publication_admin_site_page_path(@publication, @site_page) %> |
    <%= link_to '[«] Back', admin_publication_admin_site_pages_path(@publication, @site_page) %>
  </div>

  <div class="properties">
    <p>
      <b>Title:</b>
      <%= @site_page.title %>
    </p>
  </div>
  
  <div class="mag">
    <%= raw @site_page.content %>
  </div>
</div>