<div id="sidebar">
	<h2>CL Hub</h2>
	<ul>
	  <% @website_publication.site_pages.each do |site_page| %>
      <li>
        <%= link_to site_page_url(site_page) do%>
          <%= site_page.title %>
        <% end %>
      </li
    <% end %>
	</ul>
	
	<h2 class="message">New Translations</h2>
	<p>Inquire invites unpublished English translations of poetry, drama or prose, complete or in part, not previously translated. For more information: <a href="mailto:inquire@ualberta.ca">inquire@ualberta.ca</a>.</p>
</div>