<div id="sidebar">
	<h2>CL Hub</h2>
	<ul>
	  <% @website_publication.sections.where("is_static = ?", true).each do |section| %>
	    <% if section.articles.first != nil %>
      <li>
        <%= link_to section.articles.first do%>
          <%= section.name %>
        <% end %>
      </li>
      <% end %>
    <% end %>
	</ul>
	
	<h2 class="message">Get Involved!</h2>
	<p><i>Inquire</i> provides opportunities to get published and gain valuable experience with an international, peer-reviewed academic journal. If you are a Comparative Literature graduate student interested in writing a review, contributing to CL Hub or joining the editorial team write to: <a href="mailto:inquire@ualberta.ca">inquire@ualberta.ca</a>.</p>
</div>