<h2>Discussion <img src="/images/inquire/twitter.jpg" alt="" /></h2>
<div id="tweets" class="postBlock"></div>
<script type='text/javascript'>
$('#tweets').liveTwitter('inquire_jcl', {mode: 'user_timeline', rate:300000, limit: 5 });
</script>