<% title "STREETMAG » Publications" %>  

<% content_for :javascript do %>
  <%= javascript_include_tag :ckeditor %>
<% end %>

<div class="admin">
  <h1>New publication</h1>

  <%= render 'form' %>

  <%= link_to 'Back', publications_path %>
</div>