<% content_for :javascript do %>

<script type="text/javascript">
$(function() {
    $('#tweets').liveTwitter('inquire_jcl', {mode: 'user_timeline', rate:300000, limit: 5 });
  });
</script>

<% end %>

<div id="page">

		<div id="mainBlock">
      <%= raw sanitize @website_publication.submissions %>
		</div>
			
	
		<div id="news">
      <%= render 'news_feed'%>
			<%= render 'twitter' %>
		</div>
		
		<%= render 'sidebar' %>
		
		<div style="clear: both;">&nbsp;</div><br clear="left" />
				
	
</div>
