<div class="item">
  <%= f.association :author, :collection => @publication.authors.order("name ASC"), :class => "item_list" %>
  <div class="item_label">
    <%= f.input :is_primary, :label => "Primary Author" %>
  </div>
  <div class="item_delete">
    <%= f.hidden_field :_destroy %>  
    <div class="button accent_button"><%= link_to_function "remove", "remove_partial(this)" %></div>
  </div>
</div>