<div id="pageBar">
	<h2>CL Hub</h2>
	<ul>
	  <% @website_publication.sections.where("is_static = ?", true).each do |section| %>
	    <% if section.articles.first != nil %>
      <li>
        <%= link_to section.articles.first do%>
          <%= section.name %>
        <% end %>
      </li
      <% end %>
    <% end %>
	</ul>
</div>