<div class="admin">
<h1>Arrangement :: EDIT</h1>

<%= render 'form' %>


<%= link_to 'Show', publication_arrangement_path(@publication, @arrangement) %> |
<%= link_to 'Back', publication_arrangements_path(@publication) %>
</div>