#head {
  width: 100%;
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
  background-color: #88691a;
}
#head #street_mag_title {
  font-family: Arial, Helvetica, Serif;
  font-size: 20pt;
  padding: 10px;
  margin-left: 6px;
  margin-right: 6px;
  color: white;
  background-color: #648118;
  border: 1px solid white;
}
#head .subtitle {
  font-size: 14pt;
  font-style: italic;
}
#nav {
  text-align: right;
  font-family: Arial, Helvetica, Serif;
  font-size: 12pt;
  margin-top: 5px;
  padding: 5px;
  padding-top: 0px;
  color: #513c06;
}
#nav a {
  color: #88691a;
  text-decoration: underline;
  padding: 3px;
}
#nav a:hover {
  color: white;
  background-color: #648118;
  text-decoration: underline;
}
h1 { color: #394c06; }
a {
  padding: 3px;
  color: #615129;
  font-size: 16px;
}
a:visited { color: #88691a; }
a:hover {
  color: white;
  background-color: #513c06;
}
table {
  margin: auto;
  border: 2px solid #648118;
}
tr, td, th {
  padding: 2px;
  max-width: 400px;
  border: 1px solid #648118;
}
th {
  font-weight: bold;
  color: white;
  background-color: #648118;
}
form {
  width: 96%;
  margin: auto;
  padding: 10px;
  padding-right: 24px;
  border: 2px solid #648118;
  position: relative;
}
form label {
  font-family: Tahoma, Verdana, Serif;
  font-size: 12pt;
  padding: 4px;
  vertical-align: middle;
}
form input {
  font-family: Tahoma, Verdana, Serif;
  font-size: 12pt;
  padding: 4px;
  vertical-align: middle;
}
form select {
  font-family: Tahoma, Verdana, Serif;
  font-size: 12pt;
  padding: 4px;
  vertical-align: middle;
}
form label {
  color: white;
  background-color: #648118;
}
form label.required {
  color: white;
  background-color: #88691a;
}
form .input {
  padding-top: 10px;
  padding-bottom: 10px;
}
form .inputs_left {
  float: left;
  width: 49%;
}
form .inputs_right {
  float: right;
  width: 49%;
}
form .actions { text-align: center; }
.published {
  color: #cba954;
  background-color: #513c06;
}
.input_end {
  width: 980px;
  clear: both;
  padding-bottom: 20px;
}
.editor { padding-top: 20px; }
