#head {
  width: 100%;
  margin: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
  background-color: #88691a;
}
#head #street_mag_title {
  font-family: Arial, Helvetica, Serif;
  font-size: 20pt;
  padding: 10px;
  margin-left: 6px;
  margin-right: 6px;
  color: white;
  background-color: #648118;
  border: 1px solid white;
}
#head .subtitle {
  font-size: 14pt;
  font-style: italic;
}
#nav {
  text-align: right;
  font-family: Arial, Helvetica, Serif;
  font-size: 12pt;
  margin-top: 5px;
  padding: 5px;
  padding-top: 0px;
  color: #513c06;
}
#nav a {
  color: #88691a;
  text-decoration: underline;
  padding: 3px;
}
#nav a:hover {
  color: white;
  background-color: #648118;
  text-decoration: underline;
}
.admin h1 { color: #394c06; }
.admin a { color: #615129; }
.admin a:visited { color: #88691a; }
.admin a:hover {
  color: white;
  background-color: #513c06;
}
.admin table {
  margin: auto;
  border: 2px solid #648118;
}
.admin tr {
  padding: 2px;
  border: 1px solid #648118;
}
.admin td {
  padding: 2px;
  border: 1px solid #648118;
}
.admin th {
  padding: 2px;
  border: 1px solid #648118;
}
.admin th {
  font-weight: bold;
  color: white;
  background-color: #648118;
}
.admin form {
  width: 96%;
  margin: auto;
  padding: 10px;
  padding-right: 24px;
  border: 2px solid #648118;
  position: relative;
}
.admin form label {
  font-family: Tahoma, Verdana, Serif;
  font-size: 12pt;
  padding: 4px;
  vertical-align: middle;
}
.admin form input {
  font-family: Tahoma, Verdana, Serif;
  font-size: 12pt;
  padding: 4px;
  vertical-align: middle;
}
.admin form select {
  font-family: Tahoma, Verdana, Serif;
  font-size: 12pt;
  padding: 4px;
  vertical-align: middle;
}
.admin form label {
  color: white;
  background-color: #648118;
}
.admin form label.required {
  color: white;
  background-color: #88691a;
}
.admin form .input {
  padding-top: 10px;
  padding-bottom: 10px;
}
.admin form .inputs_left {
  float: left;
  width: 49%;
}
.admin form .inputs_right {
  float: right;
  width: 49%;
}
.admin form .actions { text-align: center; }
.admin .input_end {
  width: 980px;
  clear: both;
  padding-bottom: 20px;
}
.admin .editor { padding-top: 20px; }
