h1, h2, h3, h4 { font-family: Helvetica, Arial, Serif; }
h2 { font-size: 24px; }
h3 { font-size: 20px; }
#container {
  position: relative;
  width: 800px;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
#container h2 { color: #4d5b27; }
#container a {
  padding-left: 2px;
  padding-right: 2px;
  color: #394c06;
}
#container a:hover {
  background-color: #394c06;
  color: #cbb479;
}
#container .feature {
  position: absolute;
  float: left;
  right: 0px;
  top: 15px;
  padding: 10px;
  padding-top: 5px;
  width: 360px;
  background-color: #513c06;
  color: white;
  border-left: 3px solid #88691a;
  border-right: 3px solid #88691a;
}
#container .feature h2 { color: #cbb479; }
#container .content { width: 360px; }
#container .about { width: 100%; }
#container .about h3 { color: #88691a; }
#footer {
  border-top: 3px solid #88691a;
  color: white;
  margin-top: 100px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #648118;
  text-align: center;
}
