//Primary Color:
@primary: #648118;	
@primary-medium: #4D5B27;
@primary-dark: #394C06;
@primary-light: #A7C753;
@primary-xlight: #B1C777;
//Complementary Color:
@complement: #88691A;	
@complement-medium: #615129;
@complement-dark: #513C06;
@complement-light: #CBA954;
@complement-xlight: #CBB479;

body{
}

h1,h2,h3,h4{ font-family: Helvetica, Arial, Serif;}

h2{ font-size: 24px;}
h3{ font-size: 20px;}

#container{
	position: relative;
	width: 800px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	h2 {
		color: @primary-medium;
	}
	a{
		padding-left: 2px;
		padding-right: 2px;
		color: @primary-dark;
	}
	a:hover{
		background-color: @primary-dark;
		color: @complement-xlight;
	}


	.feature{
		position: absolute;
		float: left;
		right: 0px;
		top: 15px;
		padding: 10px;
		padding-top: 5px;
		width: 360px;
		background-color: @complement-dark;
		color: white;
		border-left: 3px solid @complement;
		border-right: 3px solid @complement;
		h2 {color: @complement-xlight;}
	}
	.content{
		width: 360px;
	}
	.about{
		h3{ color: @complement;}
		width: 100%;
	}
}
#footer{
	border-top: 3px solid @complement;
	color: white;
	margin-top: 100px;
	margin-bottom: 10px;
	padding: 10px;
	background-color: @primary;
	text-align: center;
}