<div class="admin">
<h1>Sections :: EDIT</h1>
<%= render 'form' %>

<%= link_to 'Show', admin_publication_admin_sections_path(@publication, @section)  %> |
<%= link_to 'Back', admin_publication_admin_sections_path(@publication) %>

</div>