<div class="admin">
<h1>Sections :: EDIT</h1>
<%= render 'form' %>

<%= link_to 'Show', publication_sections_path(@publication, @section)  %> |
<%= link_to 'Back', publication_sections_path(@publication) %>

</div>