<div class="admin">
<h1>Post :: EDIT</h1>

<%= render 'form' %>

<%= link_to 'Show', admin_publication_admin_post_path(@publication, @post) %>
<%= link_to 'Back', admin_publication_admin_posts_path(@publication, @post) %>

</div>