<div class="admin">
<h1>NEWS POST :: NEW</h1>
  <div id="management">
    <span class="tools">tools</span>
    <%= link_to '[!] Cancel', admin_publication_admin_posts_path(@publication, @post) %>
  </div>
  
<%= render 'form' %>

<%= link_to 'Back', admin_publication_admin_posts_path(@publication, @post) %>

</div>