<% title "STREETMAG » Publications" %>  

<% content_for :javascript do %>
  <%= javascript_include_tag 'ckeditor/ckeditor' %>
<% end %>

<div class="admin">
  <h1>Editing publication</h1>
  <div id="management">
    <span class="tools">tools</span>
    <%= link_to '[∆] View', admin_publication_path(@publication) %> |
    <%= link_to '[!] Cancel',admin_publication_path(@publication) %>
    
  </div>

  <%= render 'form' %>


</div>