<div id="page">
   <%= render 'pagebar' %>

		<div id="content">	
		  <%= raw @site_page.content %>
		  
		  <div style="clear: both;">&nbsp;</div>
  		
		</div>
		<div style="clear: both;">&nbsp;</div>
		
</div>